.pageLogin {
  background-color: #B984C4;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  .contentLogin {
    padding: 0 20px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

#headerLogin {
  display: flex;
  align-items: flex-end;
  height: 30px;
  position: relative;

  img {
    width: 67px;
    height: 66px;
    position: absolute;
    left: -6px;
    top: 15px;
  }
}

#login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .divLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    #mensageError {
      font-size: 22px;
      color: red;
      font-family: "Sura", serif;
      -webkit-text-stroke: 0px #ffffff;
      text-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
      margin: 5px 0;
    }

    p {
      font-size: 96px;
      color: #FFF;
      font-family: 'Baloo 2', cursive;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      -webkit-text-stroke: 1px #FFDE00;
      margin: 0px;
    }

    img {
      margin-top: 16px;
      margin-bottom: 90px;
    }

    input {
      width: 349px;
      height: 52px;
      border-radius: 10px;
      border: 2px solid rgb(118, 118, 118);
      text-align: center;
      font-size: 32px;
      font-family: "Sura", serif;
    }

    input::placeholder {
      font-size: 32px;
      text-align: center;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 144px;
      margin-bottom: 45px;
    }
  }
}

@media only screen and (max-width: 760px) {
  #login .divLogin {
    p {
      font-size: 70px;
      margin-top: 30px;
    }

    img {
      margin-top: 60px;
      margin-bottom: 70px;
    }
  }
}