#boxDiagnosis {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 75px;
  width: 85%;

  .boxTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9F74BE;
    border-radius: 10px;
    min-height: 70px;
    text-align: center;
    padding: 15px 5px;
    width: 90%;

    p {
      margin: 0;
      font-size: 32px;
      color: #FFFFFF;
      font-family: "Baloo 2", serif;
    }
  }

  .cardDiagnosis {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #FFDE00;
    position: relative;
    padding: 10px 40px 40px 40px;
    margin-bottom: 60px;

    div {
      display: flex;
      gap: 5px;

      #party {
        width: auto;
        position: unset;
        height: 40px;
      }

      p {
        margin: 0;
        font-size: 32px;
        font-family: "Baloo 2", serif;
      }
    }

    #medal {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(36%, 50%);
    }

    p {
      margin: 0;
      font-size: 32px;
      text-align: center;
    }

  }
}