header {
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  img {
    width: 67px;
    height: 66px;
  }

  p {
    font-size: 64px;
    color: #FFDE00;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }

  #divHeader {
    width: 67px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    p {
      font-size: 52px;
    }

    #divHeader {
      width: 0px;
    }
  }
}

@media only screen and (max-width: 810px) {
  header {
    p {
      font-size: 40px;
      text-align: center;
    }

    #divHeader {
      width: 0px;
    }
  }
}