footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  height: 70px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    p {
      margin: 0px;
      font-size: 20px;
      color: black;
      font-family: "Inter", sans-serif;
    }

    img {
      width: 35px;
    }
  }
}